body, html {
    margin: 0;
    padding: 0;
}

/* logo */

.logo_style {
    font-size: 36px;
    text-shadow:  1px 1px 5px grey, 1px -1px 4px, -2px 0px 3px, 1px 1px 7px orange;
    opacity: 0.75;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_img {
    display: flex;
}

.nav a { 
    text-decoration: none;
}