.section-1 {
    height: 500px;
    max-width: 1300px;
    min-width: 400px;
    margin: 20px auto;
    background-color: black;
    color: white;
}

.title {
    font-size: 70px;
    margin-left: 30px;
    padding-top: 20px;
}

.block-1 {
    margin-left: 40px;
    text-align: center;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: blueviolet;
    font-size: 58px;
    font-weight: 800;
    margin-top: -30px;
}

.block-2 {
    margin-top: -34px;
    margin-left: 330px;
    text-align: center;
    height: 320px;
    border-radius: 160px;
    background-color: blueviolet;
    width: 320px;
    
}

.section-2 {
    height: 700px;
    max-width: 1300px;
    min-width: 400px;
    margin: 20px auto;
    background-color: black;
    color: white;
}

.section-3 {
    height: 500px;
    max-width: 1300px;
    min-width: 400px;
    margin: 20px auto;
    color: white;
}

.blocks-3 {
    margin-left: 40px;
    text-align: center;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background-color: blueviolet;
    font-size: 58px;
    font-weight: 800;
    margin-top: -30px;
}

.blocks-3-1 {
    float: left;
    display: block;
    width: 500px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.Section-4 {
    height: 500px;
    max-width: 1300px;
    min-width: 400px;
    margin: 20px auto;
    color: white;
    background-color: black;
}

.blocks-4 {
    float: left;
    display: block;
    width: 500px;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.Section-5 {
    height: 600px;
    max-width: 1300px;
    min-width: 400px;
    margin: 20px auto;
    color: white;
    background-color: black;
}

.blocks-5 {
    margin-top: 0px;
    margin-left: 30px;
    display: inline-block;
}

.column-5 {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    width: 300px;
    height: 200px;
    text-align: justify;
    float: left;
}